<a href="https://colab.research.google.com/github/BrunoBento8/Python-DA/blob/main/Python_DA_Chapter_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Frist:**

> In this chapter is used the librery Pandas for Reading and Writing Data in files as: CSV, TXT, HTML, XML, EXCEL and JSON

_____________________________________________________________________________________________________

# CSV

In [ ]:
%%writefile myCSV_01.csv

white,red,blue,green,animal
1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1, mouse

Writing myCSV_01.csv

In [ ]:
import pandas as pd # If you're goind to read the book, in the chapter this is expected to be done

In [ ]:
csvframe = pd.read_csv('myCSV_01.csv')

In [ ]:
csvframe

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

"CSV files are tabulated data in which the values on the same column are separated by commas. But since CSV files are considered text files, you can also use the read_table() function, but specifying the delimiter"

In [ ]:
pd.read_table('myCSV_01.csv', sep=',')

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

In cases when the file there isn't headers as:

In [ ]:
%%writefile myCSV_02.csv

1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1, mouse

Writing myCSV_02.csv

In [ ]:
pd.read_csv('myCSV_02.csv')

   1  5  2  3     cat
0  2  7  8  5     dog
1  3  3  6  7   horse
2  2  2  8  3    duck
3  4  4  2  1   mouse

In [ ]:
pd.read_csv('myCSV_02.csv', header=None) #using pandas to assing default nomes to the columns

   0  1  2  3       4
0  1  5  2  3     cat
1  2  7  8  5     dog
2  3  3  6  7   horse
3  2  2  8  3    duck
4  4  4  2  1   mouse

In [ ]:
#writing columns names

pd.read_csv('myCSV_02.csv', names=['white','red','blue', 'green', 'animal'])

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

In [ ]:
%%writefile myCSV_03.csv

color,status,item1,item2,item3
black,up,3,4,6
black,down,2,6,7
white,up,5,5,5
white,down,3,3,2
white,left,1,2,1
red,up,2,2,2
red,down,1,1,4

Writing myCSV_03.csv

In [ ]:
pd.read_csv('myCSV_03.csv', index_col=['color','status'])

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

# TXT